body {
    /* Center align the content vertically and horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Set the height of the body to 100% of the viewport height */
    height: 100vh;
    /* Remove margin to prevent unwanted spacing */
    margin: 0;
    /* Set background color to black */
    background-color: #000;
}