body {
    /* Center align the content vertically and horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Set the height of the body to 100% of the viewport height */
    height: 100vh;
    /* Remove margin to prevent unwanted spacing */
    margin: 0;
    /* Set background color to black */
    background-color: black;
}

.score-container {
    text-align: center;
    color: white;
}

p {
    font-size: 20px;
}

#livesContainer {
    margin-top: 10px;
}

.life {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    border-radius: 50%; /* Create a circle */
    background-color: yellow; /* Yellow color for Pac-Man lives */
    display: inline-block;
}